.pantalla-full{
  min-width: 100vw;
  min-height: 100vh;
}

.bg-azul {
  background: #4c79f3;
}

.img-usuario{
  width: 120px;
}

.form, .form-post{
  width: 100vw;
}

.form-post textarea{
  min-height: 200px;
}

.logo{
  color: #F58C06;
}
.logo:hover{
  color: #F58C06;
  text-decoration: none;
}

footer{
  height: 75px;
}
.alto-menos-footer{
  min-height: calc(100vh - 75px);
}

@media (min-width: 576px) {
  .form{
    width: 370px;
  }
}

@media (min-width: 768px) {
  .form-post{
    width: 600px;
  }

}
@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

